[Unit]
Description=DevOps Final Test
After=network.target

[Service]
Restart=always
WorkingDirectory=/opt/devops-final-test
ExecStart=/usr/bin/node /opt/devops-final-test/index.js
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
